
.modal-header, .modal-body, .modal-footer {
    color: #ffffff;
    background-color: #3D3B3C;
    border: 0;
}

.save-btn {
    background-color: #C1BDB3;
    color: #323031;
    font-size: 15px;
    font-weight: bold;
}